@font-face {
    font-family: raleway;
    src: url(./assets/fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: ralewayMid;
    src: url(./assets/fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: ralewayBold;
    src: url(./assets/fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: ralewayXBold;
    src: url(./assets/fonts/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: ralewaySemi;
    src: url(./assets/fonts/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: quantify;
    src: url(./assets/fonts/Quantify.ttf);
}

@font-face {
    font-family: interBold;
    src: url(./assets/fonts/Inter_28pt-ExtraBold.ttf);
}

*{
    margin: 0;
    padding: 0;
    appearance: none;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

body::-webkit-scrollbar {
    display: none;
}

a{
    text-decoration: none;
    color: #1e1e1e;
}

:root{
    --brown: #571217;
    --orange: #F38218;
    --green: #1A760D;
    --yellow: #F8B735;
    --text-gray: #7D7D7D;
}

.orange{
    color: var(--orange);
    font-family: ralewayXBold;
}

.brown{
    color: var(--brown);
    font-family: ralewayXBold;
}

.green{
    color: var(--green);
    font-family: ralewayXBold;
}

.yellow{
    color: var(--yellow);
    font-family: ralewayXBold;
}

.container{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 10px 50px;
    height: 80px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 70px;
}

.logo img:first-child{
    animation: move 2s infinite ease alternate;
}

@keyframes move {
    /* from{
        transform: translateY(-10px);
    }
    from{
        transform: translateY(10px);
    } */

    0%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(-30deg);
    }

    /* from{
        transform: skewY(30deg);
    }
    from{
        transform: skewY(-30deg);
    } */
}

.logo-name{
    font-size: 20px;
    font-family: interBold;
    color: var(--brown);
}

.nav-links{
    display: flex;
    width: 30vw;
    align-items: center;
    justify-content: space-between;
    font-family: ralewayMid;
    font-size: 16px;
    /* text-transform: capitalize; */
}

.nav-links a .current{
    font-family: ralewayBold;
    color: var(--orange);
}

.nav-links a p{
    color: var(--text-gray);
}

.contact-btn button{
    border: none;
    outline: none;
    width: 170px;
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    font-family: ralewayBold;
    background: var(--brown);
    text-transform: capitalize;
}

.hero{
    background: url(./assets/images/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    width: 100vw;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero .hero-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50vw;
    min-height: 70vh;
}

.hope{
    font-family: quantify;
    text-transform: capitalize;
    font-size: 16px;
    padding: 5px;
    background: #E6E6E6;
    width: fit-content;
    color: var(--green);
    border-radius: 5px;
}

.main{
    font-family: quantify;
    font-size: 100px;
    color: var(--brown);
    text-transform: capitalize;
}

.sub{
    font-family: ralewayMid;
    font-size: 22px;
    width: 60%;
    color: var(--text-gray);
}

.hero button{
    border: none;
    outline: none;
    width: 170px;
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    font-family: ralewayBold;
    background: var(--brown);
    text-transform: capitalize;
}

.facts{
    display: flex;
    align-items: center;
    gap: 30px;
}

.facts >div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.fact .fact-main{
    color: var(--orange);
    font-family: ralewayBold;
    text-transform: capitalize;
    font-size: 36px;
}

.fact .fact-sub{
    color: var(--orange);
    font-family: ralewayBold;
    text-transform: capitalize;
    font-size: 19px;
}

.hero .hero-right img{
    width: 40vw;
    display: inline-block;
}

.vision{
    width: 100vw;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    background: url(./assets/images/vision-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    padding: 30px 50px;
    align-items: center;
    gap: 30px;
}

.headings{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
}

.headings .mini-heading{
    width: fit-content;
    padding: 10px 40px;
    border: 1px solid var(--brown);
    border-radius: 50px;
    font-family: raleway;
    font-size: 20px;
    text-transform: capitalize;
}

.headings .maxi-heading{
    font-size: 56px;
    text-transform: capitalize;
    font-family: quantify;
    color: var(--brown);
}

.section-text{
    font-size: 22px;
    font-family: ralewayMid;
    color: var(--text-gray);
    text-align: center;
    width: 60%;
}

.mission{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 10px 50px;
    background: url(./assets/images/mission-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
}

.mission-left img{
    width: 40vw;
}

.mission-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
}

.mission-right .headings{
    align-items: flex-end;
}

.mission-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
    text-align: right;
}

.mission-text .section-text{
    text-align: right;
}

.checks{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.check{
    display: flex;
    align-items: center;
    gap: 5px;
}

.check-text{
    font-family: ralewayBold;
    font-size: 22px;
    color: #7A7A7A;
    text-transform: capitalize;
}

.motto{
    width: 100vw;
    padding: 10px 50px;
}

.motto-content{
    width: 100%;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background: url(./assets/images/motto-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    border-radius: 20px;
}

.white-mini-heading{
    width: fit-content;
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 50px;
    font-family: raleway;
    font-size: 20px;
    text-transform: capitalize;
    color: white;
}

.white-maxi-heading{
    font-family: quantify;
    font-size: 80px;
    text-transform: capitalize;
    color: white;
}

.white-macro-heading{
    font-family: ralewayBold;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
}

.values{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100vw;
    padding: 10px 50px;
}

.section-content{
    font-family: ralewayMid;
    font-size: 20px;
    color: var(--text-gray);
    width: 50%;
    text-align: center;
}

.values-boxes{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.values-boxes >div{
    width: 22%;
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    background: white;
    border-radius: 15px;
    /* box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.16);
    -webkit-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.16); */
    box-shadow : 0px 0px 10px 5px  rgba(0,0,0,0.16);

}

.values-boxes >div img{
    width: 45px;
}

.value-name{
    font-family: quantify;
    font-size: 28px;
    text-transform: capitalize;
}

.value-text{
    font-family: ralewayMid;
    color: var(--text-gray);
    font-size: 19px;
}

.value1 .value-name{
    color: var(--orange);
}

.value2 .value-name{
    color: var(--brown);
}

.value3 .value-name{
    color: var(--green);
}

.value4 .value-name{
    color: var(--yellow);
}

.approaching{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px;
    gap: 30px;
    background: url(./assets/images/approach-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    width: 100vw;
}

.approaches-boxes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.two-approach{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.two-approach >div{
    width: 45%;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    background: white;
    border-radius: 15px;
    background: url(./assets/images/approach-box-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    box-shadow : 0px 0px 10px 5px  rgba(0,0,0,0.16);
}

.approach .approach-top{
    display: flex;
    gap: 10px;
    align-items: center;
}

.approach .approach-top img{
    width: 45px;
}

.approach .approach-top .approach-name{
    font-size: 30px;
    font-family: quantify;
    text-transform: capitalize;
}

.approach1{
    color: var(--green);
}

.approach2{
    color: var(--orange);
}

.approach3{
    color: var(--yellow);
}

.approach4{
    color: var(--brown);
}

.approach-text{
    font-family: ralewayMid;
    font-size: 20px;
    color: var(--text-gray);
}

.impact{
    width: 100vw;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.impact-images{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.impact-images img{
    width: 20vw;
}

.contact{
    width: 100vw;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 700px;
}

.contact-left{
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px 40px;
    min-height: inherit;
    background: url(./assets/images/contact-left-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    border-radius: 20px;
}

.contact-left-top{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.contact-left-top .heading{
    font-family: quantify;
    font-size: 38px;
    color: var(--brown);
    text-transform: capitalize;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.details >div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.details >div img{
    width: 30px;
}

.detail-right{
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: flex-start;
}

.detail-text{
    font-family: ralewayMid;
    font-size: 20px;
    color: white;
}

.more-info{
    font-family: ralewaySemi;
    font-size: 21px;
    color: white;
}

.more-info span{
    color: var(--brown);
    font-size: 23px;
    font-family: ralewayXbold;
    text-decoration: underline;
}

.contact-quote{
    text-align: center;
    font-family: quantify;
    font-size: 28px;
    color: var(--brown);
    text-transform: capitalize;
    margin-top: 20px;
}

.contact-right{
    width: 60vw;
    min-height: inherit;
    background: url(./assets/images/contact-right-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px 80px;
}

.contact-right-headings{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.main-right-heading{
    font-family: quantify;
    font-size: 58px;
    color: white;
    text-transform: capitalize;
}

.sub-right-heading{
    font-family: quantify;
    font-size: 26px;
    color: var(--orange);
    text-transform: capitalize;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    width: 100%;
}

.two-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.input{
    display: flex;
    align-items: center;
    padding: 10px;
    width: 22vw;
    height: 60px;
    border: 1px solid #E2E2E2;
    justify-content: space-between;
    border-radius: 30px;
}

input{
    height: inherit;
    width: 90%;
    border: none;
    outline: none;
    padding: 5px;
    font-family: ralewayBold;
    font-size: 18px;
    color: #d3d3d3;
    background: transparent;
}

.one-input{
    width: 100%;
    height: 200px;
}

.one-input .input{
    width: inherit;
    height: inherit;
    align-items: flex-start;
    border-radius: 30px;

}

.one-input .input textarea{
    width: inherit;
    height: inherit;
    border: none;
    outline: none;
    padding: 10px;
    font-family: ralewayBold;
    font-size: 18px;
    color: #d3d3d3;
    background: transparent;
}

form input[type=submit]{
    border: none;
    outline: none;
    width: 170px;
    height: 45px;
    border-radius: 20px;
    font-size: 18px;
    background: white;
    font-family: ralewayBold;
    color: var(--brown);
    text-transform: capitalize;
}

.app{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background: url(./assets/images/approach-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
}

.app-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.app-left .headings{
    align-items: flex-start;
}

.app-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    text-align: left;
}

.app-content .section-text{
    text-align: left;
}

.app-content .checks{
    text-align: left;
    align-items: flex-start;
}

.app-right img{
    width: 36vw;
}

.app-buttons{
    display: flex;
    gap: 20px;
    align-items: center;
}

.app-buttons a button{
    border: none;
    outline: none;
    width: 170px;
    height: 55px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    font-family: ralewayBold;
    background: var(--brown);
    text-transform: capitalize;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.app-buttons a button img{
    width: 30px;
}

.footer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 30px;
}

.footer-top img{
    width: 15vw;
}

.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.footer-links{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-links p{
    font-family: ralewayMid;
    font-size: 18px;
    color: #9C9C9C;
    text-transform: capitalize;
}

.socials{
    width: 11vw;
    display: flex;
    align-items: center;
    gap: 7px;
}

.copyright{
    font-family: ralewayMid;
    font-size: 18px;
    color: #9C9C9C;
    text-transform: capitalize;
}

@media screen and (max-width: 1370px){
    .container{
        border: 2px solid red;
    }
    .container >div{
        padding: 10px 30px;
    }
    .logo img{
        width: 50px;
    }
    .logo-name{
        font-size: 18px;
    }
    .nav-links{
        font-size: 15px;
    }
    .contact-btn button{
        font-size: 16px;
        width: 140px;
        height: 40px;
    }
    .hope{
        font-size: 15px;
    }
    .main{
        font-size: 80px;
    }

    .sub{
        font-size: 19px;
    }
    .hero button{
        font-size: 16px;
        width: 140px;
        height: 40px;
    }
    .fact .fact-main{
        font-size: 33px;
    }
    .fact .fact-sub{
        font-size: 16px;
    }
    .vision{
        border: 2px solid red;
    }
    .headings{
        gap: 10px;
        margin-top: 30px;
    }
    .headings .mini-heading{
        font-size: 18px;
        padding: 8px 30px;
    }
    .headings .maxi-heading{
        font-size: 52px;
    }
    .section-text{
        font-size: 19px;
    }
    .check-text{
        font-size: 18px;
    }
    .white-mini-heading{
        font-size: 18px;
        padding: 8px 30px;
    }
    .white-maxi-heading{
        font-size: 76px;
    }
    .white-macro-heading{
        font-size: 20px;
    }
    .section-content{
        font-family: ralewayMid;
        font-size: 18px;
    }
    .value-name{
        font-size: 25px;
    }
    .value-text{
        font-size: 17px;
    }
    .approach .approach-top img{
        width: 35px;
    }
    .approach .approach-top .approach-name{
        font-size: 27px;
    }
    .approach-text{
        font-size: 17px;
    }
}


@media screen and (max-width: 1200px){}

@media screen and (max-width: 768px){}